@using System.Globalization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using _2.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer



<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="images/logo-icon-removebg-preview.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <span class="logo">
            <a href="/">
                <img src="~/images/logo-icon-removebg-preview.png" alt="Logo Icon">
                BIGeek
            </a>
        </span>
        <nav>
            <form class="search-form" asp-controller="Product" asp-action="Search" method="GET">
                <input type="search" name="query" />
                <button type="submit" class="search-btn">@Localizer["Пошук"]</button>
            </form>


            <a asp-controller="Cart" class="button">
                <i class="fas fa-shopping-cart"></i>
            </a>

            <ul>
                @if (SignInManager.IsSignedIn(User))
                {
                    var currentUser = await UserManager.GetUserAsync(User);

                    <li class="dropdown">
                        <a href="javascript:void(0)" id="profileLink" class="dropdown-toggle button">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-content">
                            <a asp-controller="Account" asp-action="Profile" class="view-profile-button">Мій профіль</a>

                            @if (await UserManager.IsInRoleAsync(currentUser, "Admin"))
                            {
                                <a asp-controller="Order" asp-action="ManageOrders" class="manage-orders-button">Керування замовленнями</a>
                                <div class="edit-options">
                                    <a asp-controller="Admin" asp-action="ManageUsers" class="edit-button">Редагувати користувачів</a>
                                    <a asp-controller="Product" asp-action="ManageProducts" class="edit-button">Редагувати продукцію</a>
                                    <a asp-controller="Category" asp-action="ManageCategories" class="edit-button">Редагувати категорії</a>
                                    <a asp-controller="DeliveryMethod" asp-action="ManageDeliveryMethod" class="edit-button">Редагувати способи доставки</a>
                                </div>
                            }
                            else
                            {
                                <a asp-controller="Order" asp-action="MyOrders" class="view-orders-button">Мої замовлення</a>
                            }

                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button type="submit">Вийти</button>
                            </form>
                        </div>
                    </li>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login" id="loginLink" class="button">Ввійти</a>
                }
            </ul>

        </nav>
    </header>

    <div class="main-container">
        <main class="products-container">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="container">&copy; 2024 - BIGeek</div>

        <div class="me-5">
            <form asp-controller="Home" asp-action="SetLanguage" method="post" id="languageForm" class="d-inline">
                <input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString" />
                <select name="culture" class="form-select" id="language" onchange="this.form.submit()">
                    @if (CultureInfo.CurrentUICulture.Name == "en-US")
                    {
                        <option value="en-US" selected>English</option>
                        <option value="uk-UA">Українська</option>
                    }
                    else if (CultureInfo.CurrentUICulture.Name == "uk-UA")
                    {
                        <option value="en-US">English</option>
                        <option value="uk-UA" selected>Українська</option>
                    }
                </select>
            </form>
        </div>
    </footer>

</body>
</html>

<style>

    .language-dropdown {
        position: relative;
        display: inline-block;
    }

    .language-button {
        padding: 10px 20px;
        color: white;
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .language-button:hover {
            background-color: #45a049;
        }

    .language-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

        .language-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .language-content a:hover {
                background-color: #f1f1f1;
            }

        .language-content.show {
            display: block;
        }

    .dropdown-toggle {
        cursor: pointer;
    }

    .button i {
        font-size: 24px;
        color: white;
        vertical-align: middle;
        transition: color 0.3s;
    }

        .button i:hover {
            color: #cccccc;
        }

    .button i {
        font-size: 24px;
        color: white;
        vertical-align: middle;
    }

    .profile-button {
        display: inline-block;
        padding: 10px 20px;
        color: white;
        background-color: #ff3b3b;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        transition: background-color 0.3s;
        cursor: pointer;
    }

        .profile-button:hover {
            background-color: #d60000;
        }

    .button {
        display: inline-block;
        padding: 10px 20px;
        color: white;
        background-color: #ff3b3b;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        transition: background-color 0.3s;
        cursor: pointer;
    }

        .button:hover {
            background-color: #d60000;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

        .dropdown-content a, .dropdown-content form {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover, .dropdown-content form:hover {
                background-color: #f1f1f1;
            }

    .dropdown .show {
        display: block;
    }

    .dropdown-toggle {
        cursor: pointer;
    }
</style>
