@using Microsoft.AspNetCore.Identity
@using _2.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor
@RenderSection("Scripts", required: false)

<!DOCTYPE html>
<html lang="@(HttpContextAccessor.HttpContext?.Request.Cookies["Language"] ?? "uk")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="images/logo-icon-removebg-preview.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <span class="logo">
            <a href="/">
                <img src="~/images/logo-icon-removebg-preview.png" alt="Logo Icon">
                BIGeek
            </a>
        </span>
        <nav>
            @{
                var language = HttpContextAccessor.HttpContext?.Request.Cookies["Language"] ?? "uk";
                var searchButtonText = language == "uk" ? "Пошук" : "Search";
                var searchPlaceholder = language == "uk" ? "Введіть запит" : "Enter query";
                var profileText = language == "uk" ? "Мій профіль" : "My Profile";
                var manageOrdersText = language == "uk" ? "Керування замовленнями" : "Manage Orders";
                var manageUsersText = language == "uk" ? "Редагувати користувачів" : "Edit Users";
                var manageProductsText = language == "uk" ? "Редагувати продукцію" : "Edit Products";
                var manageCategoriesText = language == "uk" ? "Редагувати категорії" : "Edit Categories";
                var manageDeliveryText = language == "uk" ? "Редагувати способи доставки" : "Edit Delivery Methods";
                var myOrdersText = language == "uk" ? "Мої замовлення" : "My Orders";
                var logoutText = language == "uk" ? "Вийти" : "Logout";
                var loginText = language == "uk" ? "Ввійти" : "Login";
            }
            <form class="search-form" asp-controller="Product" asp-action="Search" method="GET">
                <input type="search" name="query" placeholder="@searchPlaceholder" />
                <button type="submit" class="search-btn">@searchButtonText</button>
            </form>

            <a asp-controller="Cart" class="button">
                <i class="fas fa-shopping-cart"></i>
            </a>

            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle button">
                    <i class="fas fa-globe"></i>
                </a>
                <div class="dropdown-content">
                    <a asp-controller="Home" asp-action="SetLanguage" asp-route-lang="en">English</a>
                    <a asp-controller="Home" asp-action="SetLanguage" asp-route-lang="uk">Українська</a>
                </div>
            </li>

            <ul>
                @if (SignInManager.IsSignedIn(User))
                {
                    var currentUser = await UserManager.GetUserAsync(User);
                    var isAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");

                 

                    <li class="dropdown">
                        <a href="javascript:void(0)" id="profileLink" class="dropdown-toggle button">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-content">
                            <a asp-controller="Account" asp-action="Profile" class="view-profile-button">@profileText</a>

                            @if (isAdmin)
                            {
                                <a asp-controller="Order" asp-action="ManageOrders" class="manage-orders-button">@manageOrdersText</a>
                                <div class="edit-options">
                                    <a asp-controller="Admin" asp-action="ManageUsers" class="edit-button">@manageUsersText</a>
                                    <a asp-controller="Product" asp-action="ManageProducts" class="edit-button">@manageProductsText</a>
                                    <a asp-controller="Category" asp-action="ManageCategories" class="edit-button">@manageCategoriesText</a>
                                    <a asp-controller="DeliveryMethod" asp-action="ManageDeliveryMethod" class="edit-button">@manageDeliveryText</a>
                                </div>
                            }
                            else
                            {
                                <a asp-controller="Order" asp-action="MyOrders" class="view-orders-button">@myOrdersText</a>
                            }

                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button type="submit">@logoutText</button>
                            </form>
                        </div>
                    </li>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login" id="loginLink" class="button">@loginText</a>
                }
            </ul>

        </nav>
    </header>
    <div class="main-container">
        <main class="products-container">
            @RenderBody()
        </main>
    </div>
</body>
</html>

<script>document.querySelectorAll('.dropdown-toggle').forEach(function (dropdown) {
        dropdown.addEventListener('click', function () {
            const dropdownContent = this.nextElementSibling;
            dropdownContent.classList.toggle('show');
        });
    });

    window.addEventListener('click', function (e) {
        if (!e.target.matches('.dropdown-toggle')) {
            document.querySelectorAll('.dropdown-content').forEach(function (content) {
                content.classList.remove('show');
            });
        }
    });</script>


<style>

    header {
        color: #f44236;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        border-bottom: 2px solid #800;
    }

    .logo a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
    }

    .logo img {
        height: 65px;
        background-color: transparent;
    }

    .logo a:hover, .logo a:focus, .logo a:active {
        color: inherit;
    }

    header .logo {
        font-weight: 600;
        font-size: 45px;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    header form.search-form {
        display: flex;
        align-items: center;
        margin: 0 50px;
    }

    input[type="search"] {
        padding: 6px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 4px;
        width: 650px;
        position: static;
    }

    button.search-btn {
        padding: 9px 10px;
        margin-left: 5px;
        background-color: #f44236;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        button.search-btn:hover {
            background-color: #d43b2f;
        }

    header nav {
        display: flex;
        align-items: center;
    }

        header nav a {
            color: #000000;
            text-decoration: none;
            margin-left: 15px;
        }

            header nav a:hover {
                text-decoration: none;
            }

    .dropdown-toggle {
        cursor: pointer;
    }

    .button i {
        font-size: 24px;
        color: white;
        vertical-align: middle;
        transition: color 0.3s;
    }

        .button i:hover {
            color: #cccccc;
        }

    .button i {
        font-size: 24px;
        color: white;
        vertical-align: middle;
    }

    .profile-button {
        display: inline-block;
        padding: 10px 20px;
        color: white;
        background-color: #ff3b3b;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        transition: background-color 0.3s;
        cursor: pointer;
    }

        .profile-button:hover {
            background-color: #d60000;
        }

    .button {
        display: inline-block;
        padding: 10px 20px;
        color: white;
        background-color: #ff3b3b;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        transition: background-color 0.3s;
        cursor: pointer;
    }

        .button:hover {
            background-color: #d60000;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

        .dropdown-content a, .dropdown-content form {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover, .dropdown-content form:hover {
                background-color: #f1f1f1;
            }

    .dropdown .show {
        display: block;
    }

    .dropdown-toggle {
        cursor: pointer;
    }

    .products-container {
        width: 100%;
        padding: 20px;
    }

    .language-button {
        background-color: #f44236; /* Основний колір кнопки */
        color: #ffffff; /* Колір тексту */
        border: none; /* Відсутність рамки */
        border-radius: 5px; /* Згладжені кути */
        padding: 8px 16px; /* Внутрішні відступи */
        font-size: 16px; /* Розмір шрифту */
        font-family: 'Montserrat', sans-serif; /* Сучасний шрифт */
        cursor: pointer; /* Зміна курсора на вказівник */
        transition: background-color 0.3s ease; /* Плавний перехід кольору */
        margin: 0 5px; /* Відступ між кнопками */
    }

        .language-button:hover {
            background-color: #d60000; /* Темніший відтінок при наведенні */
        }

        .language-button:active {
            background-color: #a80000; /* Ще темніший відтінок при натисканні */
        }
</style>